/*@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: "marker";
  src: url("fonts/PermanentMarker-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}*/

@font-face {
  font-family: "domine";
  src: url("fonts/Domine.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}