
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "courier-prime";
  src: url("fonts/CourierPrime-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: "skeina";
  src: url("fonts/Skeina.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}